body {
    background: #363636;
    background: -moz-linear-gradient(left, #363636 0%, #212121 54%, #000000 100%);
    background: -webkit-linear-gradient(left, #363636 0%, #212121 54%, #000000 100%);
    background: linear-gradient(to right, #363636 0%, #212121 54%, #000000 100%);
}

.App {
    color: seashell;
}


/* NAVBAR */

nav {
    top: 0;
    z-index: 998;
    list-style-type: none;
    position: fixed;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #363636;
    background: -moz-linear-gradient(left, #363636 0%, #212121 54%, #000000 100%);
    background: -webkit-linear-gradient(left, #363636 0%, #212121 54%, #000000 100%);
    background: linear-gradient(to right, #363636 0%, #212121 54%, #000000 100%);
}

ul li {
    list-style: none;
}

.nav_icons {
    height: 50px;
    width: 50px;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

a {
    float: left;
    color: #4CAF50;
    padding-left: 2%;
}

.fas {
    z-index: 999;
    margin: 1%;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    box-sizing: border-box;
    display: none;
}

@media (max-width:425px) {
    .fas {
        display: block;
    }
    a {
        width: 100%;
        text-align: center;
        padding-right: 5%;
        background-color: none;
        display: block;
    }
    .big_nav {
        display: none;
    }
}


/* LOGIN */

.login_init {
    margin-top: 150px;
    position: fixed;
}

.log_component {
    margin-top: 300px;
}

.ligin_name {
    color: tomato;
}

.not_filed {
    text-align: center;
    background-color: rgba(255, 0, 0, 0.4);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.some {
    margin-top: 200px;
}

.atantion {
    margin-top: 200px;
    text-align: center;
}

.atantion_icon {
    height: 100px;
}

.git_link {
    padding-left: 47%;
    text-align: center;
}


/* LOADER */

.loader {
    margin-left: 45%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(172, 169, 169);
    border-right: 16px solid rgb(75, 74, 74);
    border-bottom: 16px solid black;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* USER WELCOME */

.user_welcome {
    z-index: 999;
    background-color: rgb(0, 0, 0);
    color: white;
    bottom: 30px;
    padding-left: 50px;
    padding-right: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ad_h {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card_ {
    margin: 1%;
}

.c {
    height: 500px;
    width: 500px;
}

.card_img {
    height: 500px;
    width: 100%;
    z-index: 111;
}

.content {
    position: relative;
    text-align: center;
    color: white;
    margin-top: -350px;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 222;
}

.like_png {
    height: 35px;
    width: 35px;
}

.desc {
    height: 95px;
    width: 100%;
    overflow: scroll;
}

.desc::-webkit-scrollbar {
    display: none;
}

.cardAdminButtons {
    background-color: rgba(255, 253, 253, 0.5);
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    position: absolute;
    margin: 5px;
}

.cardAdminButtons:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#del {
    margin-left: -70px;
}

.rem_png {
    height: 30px;
    width: 30px;
}

.ic_png {
    height: 25px;
    width: 25px;
}

.add_vac {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 50%;
    margin-left: 25%;
}

.chart {
    margin-left: 12%;
    height: 50%;
    width: 80%;
}

.cardLikeButton {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    /* margin-left: 88%;
    margin-top: 15px; */
}

.chengeVacation_form {
    margin: 20px;
    height: 450px;
}

.newVacation_form {
    background-color: white;
    border: #282c34 1px dotted;
    border-radius: 10px;
    padding: 1%;
    margin-top: -20px;
    width: 40%;
    margin-left: 30%;
}

.newVacation_div {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    padding: 2%;
}

.x_button {
    margin-top: 80px;
    margin-left: 45%;
    /* background-color: rgba(255, 253, 253, 0.5); */
    border-radius: 60px;
    border: none;
    height: 70px;
    width: 160px;
}